/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


:root{
    /* Colors  */
    --cards:#A5B7E4;
    --side-menu:#363740;
    --Table-head:#E2E8F0;
    --search-boarder:#959895;
    --activate:#E22E1C;
    --desactivate:#67C47E;
    --nouveau:#4158B4;
    --Table-boader:#EDF2F7;
    --text:#ffffff9c;
    --background-color:#fff;
    --midleText:#fff;
    --border1Calor: #4d4c4c;
    --searchbarcolor: #e6e5e5;
    --content-text-color: #000;


    --tran-05: all 0.5s ease;
    --tran-03: all 0.3s ease;
    --tran-02: all 0.2s ease;
}
body{
    min-height: 100vh;
    background-color: var(--background-color);
   
}

body.dark{
    --background-color:rgba(0, 0, 0, 0.557);
    --cards:#A5B7E4;
    --side-menu:#edeeef;
    --Table-head:#E2E8F0;
    --search-boarder:#959895;
    --activate:#E22E1C;
    --desactivate:#67C47E;
    --nouveau:#4158B4;
    --Table-boader:#EDF2F7;
    --midleText:#000;
    --text:rgba(0, 0, 0, 0.581);
    --border1Calor: #ccc;
    --content-text-color: #fff;
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 14px 12px;
    background-color: var(--side-menu);
    transition: var(--tran-05);
}

/* Side bar  */

nav.close{
    width: 73px;
    
}


nav .logo-img {
    min-width: 200px;
}

nav .logo-img img{
    width: 150px;
    object-fit: cover;
    margin-top: 12px;
    margin-left: 12px;
    transition: var(--tran-05);
}
nav.close .logo-img img {
    width: 35px;
    height: auto;
    margin-top: 10px;
    margin-left: 8px;
    object-fit: cover;

}

nav .menu-items{
    margin-top: 18px;
    height: calc(100% - 90px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.menu-items li{
    list-style: none;
}

.menu-items li a{
    display: flex;
    align-items: center;
    height: 60px;
    text-decoration: none;
    position: relative;
}
.nav-links li a:hover:before{
    content: "";
    position: absolute;
    left: -7px;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: #A5B7E4;
}

.menu-items li a i{
    font-size: 25px;
    min-width: 45px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text);
}

.menu-items li a .link-name{
    font-size: 18px;
    font-weight: 500;
    color: var(--text);
    transition: var(--tran-05);

}
nav.close li a .link-name{
    opacity: 0;
    pointer-events: none;
    
}


.nav-links li a:hover i,
.nav-links li a:hover .link-name{
    color: var(--cards);
}
.menu-items .parameter{
    padding-top: 10px;
    border-top: 1px solid var(--border1Calor);
}
.menu-items .mode{
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.menu-items .mode-toggle{
    position:absolute;
    height: 50px;
    right: 14px;
    min-width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
} 
.mode-toggle .switch{   
    position: relative;
    display: inline-block;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--text);
}

.switch::before{   
   content: "";
   position: absolute;
   left: 5px;
   top: 50%;
   transform: translateY(-50%);
   height: 15px;
   width: 15px;
   background-color: #fff;
   border-radius: 50%;
   transition: var(--tran-03);
}
nav.close .mode i{
    opacity: 0;
    pointer-events: none;
    
}

ul h5{
    font-size: 17 px;
    min-width: 25px;
    margin-left: 12px;
    color: var(--midleText);
    letter-spacing: .1em;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 8px;
}
nav.close ul h5{
    opacity: 0;
    pointer-events: none;
    
}

body.dark .switch::before{
    left: 20px;
}
/* Side bar end  */

/* Page content  */
.dashboard{
    position: relative;
    left: 250px;
    background-color: var(--background-color);
    height: 100vh;
    width: calc(100% - 250px);
    padding: 20px 25px;
    transition: var(--tran-05);
}
nav.close ~ .dashboard{
    left: 73px;
    width: calc(100% - 73px);
}
.dashboard .top{
    position: fixed;
    top: 0;
    left: 250px;
    display: flex;
    width: calc(100% - 250px);
    justify-content: space-between;
    align-items: center;
    padding: 20px 25px;
    transition: var(--tran-05);
}

nav.close ~ .dashboard .top{
    left: 73px;
    width: calc(100% - 73px);
}

.dashboard .top .let-box {
    width: 300px;
    height: auto;
    display: flex;
    gap: 12px;
}
.dashboard .top .sidbar-toggle{
    width: 28px;
    height: auto;
    cursor: pointer;
}
.dashboard .top .let-box .search-box{
    position: relative;
    height: 35px;
    max-width: 350px;
    width: 100%;
    margin: 0 30x;
}
.top  .let-box .search-box input{
    position: absolute;
    border: 1px solid var(--searchbarcolor);
    /* background-color: var(--side-menu); */
    padding: 0 25px 0 50px;
    border-radius: 6px;
    height: 100%;
    width: 100%;
    font-size: 15px;
    font-weight: 400;
    outline: none;
}
.top  .let-box .search-box i{
    position: absolute;
    left: 15px;
    font-size: 22px;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
}
.top img{
    width: 40px;
    border-radius: 50%;
}

.dashboard .dash-content{
    padding-top: 50px;
}
.dash-content .title {
    display: flex;
    align-items: center;
    margin: 70px 0 30px 0;
}
.dash-content .title i {
    position: relative;
    height: 35px;
    width: 35px;
    background-color: var(--nouveau);
    border-radius: 6px;
    color: var(--midleText);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}
.dash-content .title .text{
    font-size: 24px;
    font-weight: 600;
    color: var(--content-text-color);
    margin-left: 10px;
}
.dash-content .boxes {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.dash-content .boxes .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    width: calc(100% / 4 - 15px);
    padding: 15px 20px;
    background-color: var(--cards);
}
.boxes .box i {
    font-size: 35px;
    color: var(--content-text-color);
}
.boxes .box .text {
    white-space: nowrap;
    font-size: 18px;
    font-weight: 500;
    color: var(--content-text-color);
}
.boxes .box .number {
    font-size: 40px;
    font-weight: 500;
    color: var(--content-text-color);
}